@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 10s linear infinite;
}


.bg-blue {
  background-color: #005BD3;
}

.bg-green {
  background-color: #AAC237;
}

.bg-red {
  background-color: #C61B1F;
}

.text-blue {
  color: #005BD3;
}

.slider {
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
  width: max-content;
}

.slide {
  min-width: 200px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.biru {
  background-color: #086DB5;
}

.hijau {
  background-color: #99AF32;
}

.merah {
  background-color: #E21F23;
}

